on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  ecr-success-validation:
    name: Run Terratest Success Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21.6
      - name: Run Terratest Unit Tests
        run: |
          go mod download
          go test -v -run TestECRValidateSuccess -timeout 30m ./...
        working-directory: test

  ecr-failure-validation:
    name: Run Terratest Failure Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21.6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.2.5"
          terraform_wrapper: false
          
      - name: Run Terratest Unit Tests
        run: |
          go mod download
          go test -v -run TestECRValidateFailure -timeout 30m ./...
        working-directory: test

